body {
    background-image: url('./images/background.jpg');
    height: 100%;
    width: 100%;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
}
#name {
    text-align: center;
    color: white;
    font-size: 24px;
}
ul {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
    font-size: 80px;
}
li {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    align-content: center;
    display: inline-block;
}